:host {
  display: block;
}

table {
  width: 100%;
  height: 1000px;
  border-collapse: collapse; /* Wichtig für zusammenhängende Grenzen */
  max-height: 1000px; /* Feste Höhe für die Tabelle */
  overflow-y: auto;  /* Vertikales Scrollen nur im Body der Tabelle */
}

mat-header-cell, mat-cell {
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border innerhalb der Dimensionen der Zellen sind */
  padding: 8px;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  vertical-align: top;
  height: auto;
  word-break: break-word;
  hyphens: auto;
  background-color: white;
}

mat-header-cell {
  background-color: #f4f4f4;  /* Leichter Hintergrund für bessere Sichtbarkeit */
  color: #333;                /* Dunkle Schriftfarbe für Kontrast */
  font-weight: medium;        /* Fett gedruckte Schrift für Header */
  text-align: left;           /* Linksbündiger Text */
  border-bottom: 2px solid #ddd; /* Dunkle Linie unter dem Header für visuelle Trennung */
}

.header-table-wk, .spalte-wk {
  width: 150px;
}

.header-table-jahr, .spalte-jahr {
  width: 60px;
}

.header-table-begruendung, .spalte-begruendung {
  width: 500px;
}

.header-table-exp, .spalte-exp {
  width: 40px;
}

/* Textarea spezifische Stile */
textarea[matInput] {
  width: 100%;  /* Setzt die Breite auf 100% der Zelle */
  height: 100%; /* Setzt die Höhe dynamisch basierend auf dem Inhalt */
  min-height: 50px; /* Minimalhöhe, um sicherzustellen, dass das Textarea sichtbar ist */
  box-sizing: border-box; /* Stellt sicher, dass Padding und Border innerhalb der Dimensionen des Textarea sind */
  border: 1px solid #ccc; /* Gibt dem Textarea eine feine Grenze für bessere Sichtbarkeit */
  padding: 4px; /* Gibt Innenabstand, um den Text von den Rändern fernzuhalten */
  resize: none; /* Verhindert, dass der Benutzer die Größe des Textarea ändert */
  overflow: hidden; /* Verhindert Scrollbalken, lässt den Inhalt dynamisch die Höhe anpassen */
}