.info {
  float:right; 
    height: 20px;
    /* width: 200px; */
    /* border: 1px solid rgb(235, 23, 23); */
    margin-left: 50px;
    background-color: rgb(253, 251, 220);
    max-width: 300px;
  }
  .fileupload{
    height: 32px;
    width: 400px;
    border: 1px solid rgb(22, 126, 53);
    background-color: rgb(203, 236, 15);
    margin-left: 0;
    

  }
  .table {
    width: 100%;
    vertical-align: top;
    background-color: rgb(203, 236, 15);
  }
  .grid-container {
    display: grid;
 
  column-gap: 50px;
  }
  /* .infobox{
    float:right; 
    margin-left: 100px;
    background-color: rgb(253, 251, 220);
    
  } */