<!-- <div *ngIf="isHelpActive">
  <p>Hilfe ist aktiviert!</p>
</div> -->
<div *ngIf="isLoading$ | async">
  <mat-spinner color="primary"></mat-spinner>
</div>
<div class="grid-container">
  <mat-card>
    <mat-card-content>
      <div class="grid-item">
        <div style="margin-left:50px">
          <table style="background-color: aliceblue;">
            <tr style="vertical-align:top">
              <td>
                <span style="float:left;vertical-align: top"  id="file-upload" class="helpable" >
                  <input class="form-control" type="file" (change)="onChange($event)"
                    accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    class="fileupload">
                </span>
                <span style="float:right">
                  <button (click)="addfile()" id="add-file" class="btn btn-success helpable">
                     2. Upload
                  </button>
                </span>
              </td>
              <td>
                <span style="float:left">
                  <app-selectjahr (jahrSelected)="handleJahrSelected($event)" class="helpable" id="DD-Jahr"></app-selectjahr>
                  <!-- <div style="margin-left:50px" class="helpable" id="DD-Jahr"><app-selectjahr [selected]="jahr"></app-selectjahr></div> -->
                  <app-select-probenehmer (PNSelected)="handlePNSelected($event)" class="helpable" id="DD-Probenehmer" class="helpable" id="DD-Jahr"></app-select-probenehmer>
                  
                  
                  <!-- <div style="margin-left:50px" class="helpable" id="DD-Probenehmer"><app-select-probenehmer [selectedPN]="probenehmer"></app-select-probenehmer></div> -->
                </span>
              </td>
              <td>
                <button (click)="pruefeObMesswerteschonVorhanden()" id="btn-pruefen" [disabled]="pruefen" class="btn btn-success helpable" style="margin-left:50px">
                  5. prüfen
                </button><br>
                <button (click)="importIntoDB()" [disabled]="ImportIntoDB" class="btn btn-success" style="margin-left:50px;margin-top:10px">
                  6. Import in die Datenbank
                </button>
              </td>
              <span class="infobox">
                <app-info-box [Info]="InfoBox" class="info" style="margin-left:100px"></app-info-box>
              </span>
            </tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="grid-item" style="width: 90%;margin-left: 2%;" class="helpable" id="panel-importhistorie">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (afterExpand)="openexpand()" (afterCollapse)="close()" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Importhistorie</mat-panel-title>
        </mat-expansion-panel-header>
        <p><app-select-uebersicht-import [uebersicht]="uebersichtImport" (sortDataue)="sortData($event)" (importID)="handleData($event)" style="width:480%"></app-select-uebersicht-import></p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div style="display: flex; flex-grow: grow">
    <div *ngIf="mstimptab == true" style="float: left;width: 45%;margin-left:2%">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let colName of dynamicColumns; index as i;">
          <ng-container *ngIf="colName!=='actions' && colName!=='import1' && colName!=='fehler1'  && colName!=='fehler2';" [matColumnDef]="colName">
            <th mat-header-cell *matHeaderCellDef class="header-table-rl" mat-sort-header>{{displayColumnNames[i]}}</th>
            <td mat-cell *matCellDef="let element" class="spalte-rl">{{element[colName]}}</td>
          </ng-container>
        </ng-container>
        <ng-container matColumnDef="fehler1">
          <th mat-header-cell *matHeaderCellDef class="header-table-rl">Mst nicht bekannt</th>
          <td mat-cell *matCellDef="let element" class="spalte-rl">
            <input type="checkbox" 
          [readonly]="true" 
          [checked]="element.fehler1" 
          (click)="$event.preventDefault()">
          </td>
        </ng-container>
        <ng-container matColumnDef="fehler2">
          <th mat-header-cell *matHeaderCellDef class="header-table-rl">Art nicht bekannt</th>
          <td mat-cell *matCellDef="let element" class="spalte-rl">
            <input type="checkbox" 
          [readonly]="true" 
          [checked]="element.fehler2" 
          (click)="$event.preventDefault()">
          </td>

         
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="header-table-rl">Aktionen</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-icon-button color="primary" (click)="edit(row)" class="iconbutton">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="showHandleRowClick" mat-icon-button color="accent" (click)="handleRowClick(row)" class="iconbutton" color="warn">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="import1">
          <th mat-header-cell *matHeaderCellDef>impor-tierbar</th>
          <td mat-cell *matCellDef="let element" class="spalte-rl">
            <input type="checkbox" 
            [readonly]="true" 
            [checked]="element.import1" 
            (click)="$event.preventDefault()">
          
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dynamicColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: dynamicColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page of users"></mat-paginator>
    </div>
    <div *ngIf="Datimptab == true" style="float: left;vertical-align: top;width: 40%;margin-left:5%">
      <app-eineldatenimp [Einzeldat]="MessData"></app-eineldatenimp>
    </div>
    <div *ngIf="Datimptabphyto == true" style="float: left;vertical-align: top;width: 40%;margin-left:5%">
      <app-einzeldatephytoplankton [Einzeldat]="MessData"></app-einzeldatephytoplankton>
    </div>
    
  </div>
</div>
<div class="card" *ngIf="ImportDatenAnzeige == true" style="vertical-align: top;width: 90%;margin-left: 2%;">
  <mat-card class="example-card">
    <app-makorphyten-tabelle [mstMakrophyten]="mstMakrophyten"></app-makorphyten-tabelle>
  </mat-card>
</div>
