<div class="text-center"> 
	<input class="form-control" type="file"
			(change)="onChange($event)"> 

	<button (click)="onUpload()" 
		class="btn btn-success"> 
		Upload 
	</button> 
</div> 
<div class="text-center"> 
	

	<button (click)="getFormenPhylib()" 
		class="btn btn-success"> 
		getFormenPhylib 
	</button> 
	<button (click)="getEinheitenPhylib()" 
		class="btn btn-success"> 
		getEinheitenPhylib 
	</button> 
	<button (click)="getMStPhylib()" 
		class="btn btn-success"> 
		getMst 
	</button> 
</div>
<!-- Shareable short link of uploaded file -->
<div class="container text-center jumbotron"
	*ngIf="shortLink"> 
	<h2> Visit Here</h2> 
	<a href="{{shortLink}}">{{shortLink}}</a> 
</div> 

<!--Flag variable is used here-->
<div class="container" *ngIf="loading"> 
	<h3>Loading ...</h3> 
</div> 

<div class="col-md-8 form-group">        
	<input type="file" class="form-control" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">        
  </div>  

<div>
	
	<table mat-table [dataSource]="MessData" class="mat-elevation-z8">

		<!--- Note that these columns can be defined in any order.
			  The actual rendered columns are set as a property on the row definition" -->
	  
		<!-- Position Column -->
		<ng-container matColumnDef="nr">
		  <th mat-header-cell *matHeaderCellDef> No. </th>
		  <td mat-cell *matCellDef="let element"> {{element._Nr}} </td>
		</ng-container>
		
		<!-- Name Column -->
		<ng-container matColumnDef="mst">
		  <th mat-header-cell *matHeaderCellDef> Messstelle </th>
		  <td mat-cell *matCellDef="let element"> {{element._Messstelle}} </td>
		</ng-container>
	  
		<!-- Weight Column -->
		<ng-container matColumnDef="probe">
		  <th mat-header-cell *matHeaderCellDef> _Probe </th>
		  <td mat-cell *matCellDef="let element"> {{element._Probe}} </td>
		</ng-container>
	  
		<!-- Symbol Column -->
		<ng-container matColumnDef="taxon">
		  <th mat-header-cell *matHeaderCellDef> _Taxon </th>
		  <td mat-cell *matCellDef="let element"> {{element._Taxon}} </td>
		</ng-container>
		<ng-container matColumnDef="form">
			<th mat-header-cell *matHeaderCellDef> _Form </th>
			<td mat-cell *matCellDef="let element"> {{element._Form}} </td>
		  </ng-container>
		  <ng-container matColumnDef="wert">
			<th mat-header-cell *matHeaderCellDef> _Messwert </th>
			<td mat-cell *matCellDef="let element"> {{element._Messwert}} </td>
		  </ng-container>
		  <ng-container matColumnDef="einheit">
			<th mat-header-cell *matHeaderCellDef> _Einheit </th>
			<td mat-cell *matCellDef="let element"> {{element._Einheit}} </td>
		  </ng-container>
		  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
	  </table>
	  
</div>

