<div style="position: relative;">

  <span>
    <div style="margin-left:200px">
      <table>
        <tr>
          <td>
            <button mat-button id="berichtsEUButton" class="helpable button" [matMenuTriggerFor]="uebersicht">Wasserkörper</button>
            <mat-menu #uebersicht="matMenu" xPosition="before">
              <button mat-menu-item id="wasserkörperButton" class="helpable" (click)="handleUebersichtWK()">Bericht-EU</button>
              <button mat-menu-item id="messstellenButton" class="helpable " (click)="handleUebersichtWKausMst()">Ergbnisse Monitoring</button>
            </mat-menu>

            <button mat-button id="mpButton" class="helpable button" [matMenuTriggerFor]="afterMenu">Makrophyten</button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
              <button mat-menu-item id="mpMessstellenübersichtButton" class="helpable " (click)="handleMakrophytenMPClick(1)">Messstellenübersicht</button>
              <button mat-menu-item id="mpTaxadatenButton" class="helpable " (click)="handleMakrophytenClick()">Taxadaten</button>
            </mat-menu>

            <button mat-button id="diatomsButton" class="helpable button" [matMenuTriggerFor]="diatoms">Diatomeen</button>
            <mat-menu #diatoms="matMenu" xPosition="before">
              <button mat-menu-item id="diatomsMessstellenButton" class="helpable ">Messstellenübersicht</button>
              <button mat-menu-item id="diatomsTaxadatenButton" class="helpable ">Taxadaten</button>
            </mat-menu>

            <button mat-button id="ppButton" class="helpable button" [matMenuTriggerFor]="pp">Phytoplankton</button>
            <mat-menu #pp="matMenu" xPosition="after">
              <button mat-menu-item id="ppMessstellenButton" class="helpable "  (click)="handleMakrophytenMPClick(5)">Messstellenübersicht</button>
              <button mat-menu-item id="ppTaxadatenButton" class="helpable ">Taxadaten</button>
            </mat-menu>

            <button mat-button id="mzButton" class="helpable button" [matMenuTriggerFor]="mzb">Makrozoobenthos</button>
            <mat-menu #mzb="matMenu" xPosition="after">
              <button mat-menu-item id="mzMessstellenübersichtButton " class="helpable" (click)="handleMakrophytenMPClick(3)">Messstellenübersicht</button>
              <button mat-menu-item id="mzTaxadatenButton" class="helpable" (click)="handleMZBClick()">Taxadaten</button>
            </mat-menu>

            <button mat-button id="fischeButton" class="helpable button" [matMenuTriggerFor]="fische">Fische</button>
            <mat-menu #fische="matMenu" xPosition="after">
              <button mat-menu-item id="fischeItem1Button" class="helpable">Item 1</button>
              <button mat-menu-item id="fischeItem2Button" class="helpable">Item 2</button>
            </mat-menu>
          </td>
          <td>
            <mat-form-field >
              <input [(ngModel)]="value" matInput [placeholder]="FilterWKname" class="helpable" id="filter-wkmst" autocomplete="off" style="margin-left:10px" (input)="onValueChangeFilter(value, Artvalue)">
              <button mat-icon-button matSuffix (click)="clearSearchFilter()" *ngIf="value">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </td>
          <td>
            <div *ngIf="FilterAnzeige == true"  >
              <mat-form-field>
                <input [(ngModel)]="Artvalue" matInput placeholder="Filter Art/ DVNr" autocomplete="off" style="margin-left:20px" (input)="onValueChangeFilter(value, Artvalue)">
                <button mat-icon-button matSuffix (click)="clearSearchFilterArt()" *ngIf="Artvalue"  class="helpable" id="filter-dvnr">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </td>
          <td></td>
          <td>
            <div style="margin-left:20px;" class="helpable" id="auswahl-zeit">
              <mat-slider discrete min="2005" [max]="maxstart" (change)="updateSetting(min, max, value, Artvalue)" style="margin-left:10px">
                <input [(ngModel)]="min" matSliderStartThumb>
                <input [(ngModel)]="max" matSliderEndThumb>
              </mat-slider>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </span>
</div>
<div class="card helpable" *ngIf="UebersichtAnzeigen == true" style="vertical-align: top;" id="UebersichtWK">
  <mat-card class="example-card">
    <app-uebersicht-tabelle [wkUebersicht]="FilterwkUebersicht"></app-uebersicht-tabelle>
  </mat-card>
</div>
<div class="card helpable" *ngIf="UebersichtWKausMstAnzeigen == true" style="vertical-align: top;" id="UebersichtWKausMst">
  <mat-card class="example-card">
    <app-uebersicht-tabelle [wkUebersicht]="FilterwkUebersichtausMst"></app-uebersicht-tabelle>
  </mat-card>
</div>
<div class="card helpable" *ngIf="MakrophytenMstAnzeige" style="vertical-align: top;" >
  <mat-card class="example-card">
    <app-makrophyten-mst-uebersicht [pros]="props"></app-makrophyten-mst-uebersicht>
  </mat-card>
</div>
<div class="card helpable" *ngIf="MakrophytenAnzeige == true" style="vertical-align: top;" id="Abund-Makrophyten">
  <mat-card class="example-card">
    <app-makorphyten-tabelle [mstMakrophyten]="mstMakrophyten"></app-makorphyten-tabelle>
  </mat-card>
</div>
<div class="card helpable" *ngIf="MZBAnzeige == true" style="vertical-align: top;" id="Abund-MZB">
  <mat-card class="example-card">
    <app-makorphyten-tabelle [mstMakrophyten]="mstMZB"></app-makorphyten-tabelle>
  </mat-card>
</div>
