<script language="javascript" type="text/javascript">
  document.querySelectorAll(".button").forEach((el) => {
    el.addEventListener("click", () => {
      el.classList.toggle("active");
    });
  });</script>
<span>
 
  <div style="margin-left:200px">
    <table>
      <tr>
      
      <td>
    <button mat-button id="uebersichtButton" [matMenuTriggerFor]="uebersicht" >Bericht-EU</button>
    <mat-menu #uebersicht="matMenu" xPosition="before">
    <button id="uebersichtButton" mat-button (click)="handleUebersichtWK()">Wasserkörper</button>
    <button id="uebersichtButton" mat-button (click)="ausblendenUebersicht()">Messstellen</button>
  </mat-menu>


    <button mat-button id="mpButton" [matMenuTriggerFor]="afterMenu" >Makrophyten</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item (click)="handleMakrophytenMPClick(1)">Messstellenübersicht</button>
  <button mat-menu-item (click)="handleMakrophytenClick()">Taxadaten</button>
</mat-menu>

    <button mat-button [matMenuTriggerFor]="diatoms">Diatomeen</button>
    <mat-menu #diatoms="matMenu" xPosition="before">
      <button mat-menu-item>Messstellenübersicht</button>
      <button mat-menu-item>Taxadaten</button>
    </mat-menu>

  
    <button mat-button [matMenuTriggerFor]="pp">Phytoplankton</button>
    <mat-menu #pp="matMenu" xPosition="after">
      <button mat-menu-item>Messstellenübersicht</button>
      <button mat-menu-item>Taxadaten</button>
    </mat-menu>
    <button mat-button id="mzButton"  [matMenuTriggerFor]="mzb">Makrozoobenthos</button>
    <mat-menu #mzb="matMenu" xPosition="after">
      <button mat-menu-item (click)="handleMakrophytenMPClick(3)">Messstellenübersicht</button>
      <button mat-menu-item (click)="handleMZBClick()">Taxadaten</button>
    </mat-menu>
  
    <button mat-button [matMenuTriggerFor]="fische">Fische</button>
    <mat-menu #fische="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item >Item 2</button>
    </mat-menu>

   

  </td>
  <td>
    <mat-form-field>
      <input [(ngModel)]="value" matInput [placeholder]=FilterWKname autocomplete="off" style="margin-left:10px" (input)="onValueChangeFilter(value,Artvalue)">
          <button mat-icon-button matSuffix (click)="clearSearchFilter()" *ngIf="value">
          <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
</td>
<td>
  <div *ngIf="FilterAnzeige == true" >
  <mat-form-field>
    <input [(ngModel)]="Artvalue" matInput placeholder="Filter Art/ DVNr" autocomplete="off" style="margin-left:20px" (input)="onValueChangeFilter(value,Artvalue)">
        <button mat-icon-button matSuffix (click)="clearSearchFilterArt()" *ngIf="Artvalue">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
</div>
</td>
<td>
  <!-- <mat-radio-group aria-label="Select an option">
   
    <mat-radio-button value=1  (change)="mstalleauswaehlen(1,value,Artvalue)">alle Messstellen</mat-radio-button>
    <mat-radio-button value=2 checked (change)="mstalleauswaehlen(2,value,Artvalue)">repräsentative Messstellen (*)</mat-radio-button>
  </mat-radio-group> -->
</td>
<td>
 <div style="margin-left:20px;">
  <mat-slider discrete min="2005" max="2026" (change)="updateSetting(min,max,value,Artvalue)" style="margin-left:10px">
    <input [(ngModel)]="min" matSliderStartThumb>
    <input [(ngModel)]="max" matSliderEndThumb>
  </mat-slider>
  

</div> 
</td>
</tr>
</table>
</div>

 

</span>
<div class="card" *ngIf="UebersichtAnzeigen == true" style="vertical-align: top;">
<mat-card class="example-card">
  <app-uebersicht-tabelle [wkUebersicht]="FilterwkUebersicht"></app-uebersicht-tabelle>
</mat-card>
</div>
<div class="card" *ngIf="MakrophytenMstAnzeige == true" style="vertical-align: top;">
<mat-card class="example-card">
  <app-makrophyten-mst-uebersicht [pros]="props"></app-makrophyten-mst-uebersicht>
</mat-card>
</div>



<div class="card" *ngIf="MakrophytenAnzeige == true" style="vertical-align: top;">
  <mat-card class="example-card">
    <app-makorphyten-tabelle [mstMakrophyten]="mstMakrophyten"></app-makorphyten-tabelle>
  </mat-card>
</div>

<div class="card" *ngIf="MZBAnzeige == true" style="vertical-align: top;">
  <mat-card class="example-card">
    <app-makorphyten-tabelle [mstMakrophyten]="mstMZB"></app-makorphyten-tabelle>
  </mat-card>
</div>