<div class="example-listbox-container">
  <mat-card>
 
    
    <!-- <cdk-virtual-scroll-viewport itemSize="550" class="example-viewport"> -->
      <!-- <div *cdkVirtualFor="let item of uebersicht" class="example-item">{{item.dateiname}}{{item.firma}}</div> -->
      <table  mat-table [dataSource]="uebersicht" matSort (matSortChange)="sortData($event)" style="width: 80%;" >

        <ng-container matColumnDef="probenehmer">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header="probenehmer"  class="header3"> Probenehmer </th>
          <td  mat-cell *matCellDef="let element" class="spalte1"> {{element.probenehmer}} </td>
          
          </ng-container>
        <ng-container matColumnDef="jahr">
          <th  mat-header-cell *matHeaderCellDef  mat-sort-header="jahr" class="header2"> Untersuchungsjahr </th>
          <td  mat-cell *matCellDef="let element"  class="spalte1"> {{element.jahr}} </td>
          
        </ng-container>
        <ng-container matColumnDef="dateiname">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header="dateiname"  class="header3">Dateiname</th>
          <td  mat-cell *matCellDef="let element"  class="spalte1"> {{element.dateiname}} </td>
          </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="verfahren">
          <th  mat-header-cell *matHeaderCellDef  mat-sort-header="verfahren" class="header3"> Verfahren </th>
          <td  mat-cell *matCellDef="let element" class="spalte1"> {{element.verfahren}} </td>
        </ng-container>
        <ng-container matColumnDef="komponente">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header="komponente" class="header3">Komponente</th>
          <td  mat-cell *matCellDef="let element" class="spalte1"> {{element.komponente}} </td>
          </ng-container>
          <ng-container matColumnDef="importiert">
          <th  mat-header-cell *matHeaderCellDef  mat-sort-header="importiert" class="header2">importiert</th>
          <td  mat-cell *matCellDef="let element" class="spalte1"> {{element.importiert}} </td>
          </ng-container>
          <ng-container matColumnDef="anzahlmst">
            <th  mat-header-cell *matHeaderCellDef  class="header2">importierte Messstellen</th>
            <td  mat-cell *matCellDef="let element" class="spalte1"> {{element.anzahlmst}} </td>
            </ng-container>
            <ng-container matColumnDef="anzahlwerte">
              <th  mat-header-cell *matHeaderCellDef  class="header2">importierte Messwerte</th>
              <td  mat-cell *matCellDef="let element" class="spalte1"> {{element.anzahlwerte}} </td>
              </ng-container>
              <ng-container matColumnDef="bemerkung">
                <th  mat-header-cell *matHeaderCellDef  mat-sort-header="bemerkung" class="header2">Bemerkung</th>
                <td  mat-cell *matCellDef="let element" class="spalte1"> {{element.bemerkung}} </td>
                </ng-container>
              <ng-container matColumnDef="Bearbeiten">
                <mat-header-cell *matHeaderCellDef class="header-table-rl">Aktionen</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button
                  *ngIf="isWithinFourWeeks(row.importiert)"
                  mat-icon-button
                  color="delete"
                  class="iconbutton"
                  (click)="onDeleteClick(row)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" class="iconbutton"
                    color="warn" (click)="handleRowClick(row)">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                  <section class="example-section">
              
              
                  </section>
                </mat-cell>
              </ng-container>
    
              <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
    <!-- </cdk-virtual-scroll-viewport> -->
    
  </mat-card>  
 
  </div>

