<span style="font-size:x-large;font-weight:500;"
  
  [innerHTML]="Mst_name"> 
></span>

<div mat-dialog-content>
  <form [formGroup]="formInstance" style="height: 800px;">
    
    <div class="mt-5">
      <mat-label>andere Messstelle auswählen</mat-label>
      <ng-multiselect-dropdown [placeholder]="MeldeMst" [settings]="dropdownMeldeSettings" [data]="dropdownMeldeMst"
        (onSelect)="onItemSelectMeldemst($event)">
      </ng-multiselect-dropdown>

    </div>

  </form>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="formInstance.dirty && formInstance.errors" (click)="save()"
    cdkFocusInitial>Änderungen speichern</button>
  <button mat-raised-button mat-dialog-close>Abbrechen</button>

</div>