<div class="login-container">
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        placeholder="Enter your username"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="password-container">
        <input
          [type]="passwordFieldType"
          id="password"
          [(ngModel)]="password"
          name="password"
          placeholder="Enter your password"
          class="form-control"
          required
        />
        <button type="button" mat-icon-button (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
