<mat-nested-tree-node *matTreeNodeDef="let node">
  <div class="mat-tree-node">
    <button mat-icon-button matTreeNodeToggle *ngIf="node.children?.length">
      <mat-icon>
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <span [style.fontWeight]="treeControl.getLevel(node) === 0 ? 'bold' : 'normal'"
          [style.fontStyle]="treeControl.getLevel(node) === 2 ? 'italic' : 'normal'"
          [style.color]="treeControl.getLevel(node) === 1 ? 'blue' : (treeControl.getLevel(node) === 2 ? 'green' : 'black')">
      {{ node.name }}
    </span>
  </div>
</mat-nested-tree-node>
