
<span>
 
    <div style="margin-left:180px;">
        <button mat-button class="helpable button" id="btn-messstellen" [matMenuTriggerFor]="messstellen" >Messstellen</button>
        <mat-menu #messstellen="matMenu" xPosition="after">
          <button mat-menu-item (click)="fgwMst()">FließgewässerMst</button>
          <button mat-menu-item (click)="seeMst()">SeegewässerMst</button>
      <!-- <button mat-menu-item (click)="handleMakrophytenClick()">Taxadaten</button> -->
      <!-- <button mat-menu-item (click)="handleMakrophytenClick()">Taxadaten</button> -->
    </mat-menu>
      
      <button mat-button class="helpable button" id="btn-wasserkoerper" [matMenuTriggerFor]="wasserkoerper" >Wasserkörper</button>
      <mat-menu #wasserkoerper="matMenu" xPosition="after">
        <button mat-menu-item (click)="fgwWk()">FließgewässerWK</button>
        <button mat-menu-item (click)="seeWk()">SeegewässerWK</button>
    </mat-menu>
  
  
     
  
      <button mat-button class="helpable button" id="btn-gewaesser" [matMenuTriggerFor]="gewaesser">Gewässer</button>
      <mat-menu #gewaesser="matMenu" xPosition="before">
        <button mat-menu-item  (click)="gewaesser1()">Gewässer</button>
        
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="Typen" class="helpable button" id="btn-Typen">Typen</button>
      <mat-menu #Typen="matMenu" xPosition="after">
        <button mat-menu-item (click)="wrrlTyp()">WrrlTyp</button>
        <button mat-menu-item (click)="ppTyp()">Phytoplanktontyp</button>
        <button mat-menu-item (click)="diaTyp()">Diatomeentyp</button>
        <button mat-menu-item (click)="mpTyp()">Makrophytentyp</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="probenehmer" class="helpable button" id="btn-probenehmer">Probenehmer</button>
      <mat-menu #probenehmer="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
     
      
      
      </div>
      </span>
      <div  class="card helpable" *ngIf="MessstellenAnzeige == true" style="margin-left:180px;vertical-align: top; width: 80%"> 
        <div fxLayout="row" fxLayoutAlign="start center">  
          <mat-form-field style="width: 30%;">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilterMessstellen($event)" placeholder="" #input>
        </mat-form-field>
       
         
          <button  (click)="new()" class="helpable" id="btn-neue_Messstelle">
            neue Messstelle anlegen
          </button>
        </div>
      <app-stamm-messstellen [messstellenStam]="messstellenStam1" (sortData1)="sortData($event)" (newData)="handleData($event)"id="tab-messtellen" class="helpable" ></app-stamm-messstellen>
    </div>

    <div class="card  helpable" *ngIf="WKAnzeige == true" style="margin-left:180px;width: 80%;vertical-align: top;"  id="tab-wasserkoerper" > 
      
        <div fxLayout="row" fxLayoutAlign="start center">  
          <mat-form-field style="width: 30%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterWK($event)" placeholder="" #input>
      </mat-form-field>
     
        </div>
      <app-stamm-wk [wasserkoerperStam]="wkStam1" [gewaesserart]="gewaesserart" (sortDataWK)="sortDataWk($event)"  (newDataWK)="handleDataWK($event)"></app-stamm-wk>
      
    </div>
      
    <div class="card" *ngIf="TypWrrlAnzeige == true" style="margin-left:180px;vertical-align: top; width: 80%">
      <app-editable-table-typwrrl></app-editable-table-typwrrl>
    </div>
    <div class="card" *ngIf="GewaesserAnzeige == true" style="margin-left:180px;vertical-align: top; width: 80%">
      <app-editable-table-gewaesser></app-editable-table-gewaesser>
    </div>


    <div class="card" *ngIf="PPTypAnzeige == true" style="margin-left:180px;vertical-align: top; width: 80%">
      <app-editable-table-typ-pp></app-editable-table-typ-pp>
    </div>
    <div class="card" *ngIf="DiaTypAnzeige == true" style="margin-left:180px;vertical-align: top; width: 80%">
      <app-editable-table-diatyp></app-editable-table-diatyp>
    </div>
    
    <div class="card" *ngIf="MpTypAnzeige == true" style="margin-left:180px;vertical-align: top; width: 80%">
      <app-editable-table-mptyp></app-editable-table-mptyp>
    </div>