
<span>
 
    <div style="margin-left:180px;">
        <button mat-button class="helpable button"  [class.active]="isbtnmstButton"  id="btn-messstellen" [matMenuTriggerFor]="messstellen" >Messstellen</button>
        <mat-menu #messstellen="matMenu" xPosition="after">
          <button mat-menu-item (click)="fgwMst()">FließgewässerMst</button>
          <button mat-menu-item (click)="seeMst()">SeegewässerMst</button>
      <!-- <button mat-menu-item (click)="handleMakrophytenClick()">Taxadaten</button> -->
      <!-- <button mat-menu-item (click)="handleMakrophytenClick()">Taxadaten</button> -->
    </mat-menu>
      
      <button mat-button class="helpable button" [class.active]="isbtnwkButton"  id="btn-wasserkoerper" [matMenuTriggerFor]="wasserkoerper" >Wasserkörper</button>
      <mat-menu #wasserkoerper="matMenu" xPosition="after">
        <button mat-menu-item (click)="fgwWk()">FließgewässerWK</button>
        <button mat-menu-item (click)="seeWk()">SeegewässerWK</button>
    </mat-menu>
  
  
     
  
      <button mat-button class="helpable button" (click)="gewaesser1()" [class.active]="isbtngewasser" id="btn-gewaesser" >Gewässer</button>
     
  
      <button mat-button [matMenuTriggerFor]="Typen" [class.active]="isbtntypButton"  class="helpable button" id="btn-Typen">Typen</button>
      <mat-menu #Typen="matMenu" xPosition="after">
        <button mat-menu-item (click)="wrrlTyp()">WrrlTyp</button>
        <button mat-menu-item (click)="ppTyp()">Phytoplanktontyp</button>
        <button mat-menu-item (click)="diaTyp()">Diatomeentyp</button>
        <button mat-menu-item (click)="mpTyp()">Makrophytentyp</button>
        <button mat-menu-item (click)="mzbTyp()">Makrozoobenthostyp</button>
        
      </mat-menu>
      <button mat-button  (click)="probenehmer()" [class.active]="isbtnpnButton" class="helpable button" id="btn-probenehmer">Probenehmer</button>
     
     
      
      
      </div>
      </span>
      <div  class="card helpable" id="tab-messtellen" *ngIf="MessstellenAnzeige == true" style="margin-left:180px;vertical-align: top; width: 80%"> 
        <div fxLayout="row" fxLayoutAlign="start center">  
          <mat-form-field style="width: 30%;">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilterMessstellen($event)" placeholder="" #input>
        </mat-form-field>
       
         
          <button  (click)="new()" class="helpable" id="btn-neue_Messstelle">
            neue Messstelle anlegen
          </button>
        </div>
      <app-stamm-messstellen id="tab-messstellen" [messstellenStam]="messstellenStam1" (sortData1)="sortData($event)" (newData)="handleData($event)" class="helpable" ></app-stamm-messstellen>
    </div>

    <div class="card  helpable" *ngIf="WKAnzeige == true" style="margin-left:100px;width: 90%;vertical-align: top;"  id="tab-gewaesser" > 
      
        <div fxLayout="row" fxLayoutAlign="start center">  
          <mat-form-field style="width: 30%;">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterWK($event)" placeholder="" #input>
      </mat-form-field>
     
        </div>
      <app-stamm-wk [wasserkoerperStam]="wkStam1" [gewaesserart]="gewaesserart" (sortDataWK)="sortDataWk($event)"  (newDataWK)="handleDataWK($event)"></app-stamm-wk>
      
    </div>
      
    <div class="card helpable" id="tab-wrrltyp" *ngIf="TypWrrlAnzeige == true" style="margin-left:100px;vertical-align: top; width: 90%">
      <app-editable-table-typwrrl></app-editable-table-typwrrl>
    </div>
    <div class="card helpable"  id="tab-gewaesser" *ngIf="GewaesserAnzeige == true" style="margin-left:100px;vertical-align: top; width: 90%">
      <app-editable-table-gewaesser></app-editable-table-gewaesser>
    </div>


    <div class="card helpable" id="tab-pptyp" *ngIf="PPTypAnzeige == true" style="margin-left:100px;vertical-align: top; width: 90%">
      <app-editable-table-typ-pp></app-editable-table-typ-pp>
    </div>
    <div class="card helpable" id="tab-diatyp" *ngIf="DiaTypAnzeige == true" style="margin-left:100px;vertical-align: top; width: 90%">
      <app-editable-table-diatyp></app-editable-table-diatyp>
    </div>
    <div class="card helpable" id="tab-mzbtyp" *ngIf="MzbTypAnzeige == true" style="margin-left:100px;vertical-align: top; width: 90%">
      <app-editable-table-mzbtyp></app-editable-table-mzbtyp>
    </div>
    <div class="card helpable" id="tab-mptyp" *ngIf="MpTypAnzeige == true" style="margin-left:100px;vertical-align: top; width: 90%">
      <app-editable-table-mptyp></app-editable-table-mptyp>
    </div>
    <div class="card helpable" id="tab-probenehmer" *ngIf="ProbenehmerAnzeige == true" style="margin-left:100px;vertical-align: top; width: 90%">
      <app-editable-table-probenehmer></app-editable-table-probenehmer>
    </div>