
<span>
 
    <div style="margin-left:200px">
        <button mat-button id="mpButton" [matMenuTriggerFor]="messstellen" >Messstellen</button>
        <mat-menu #messstellen="matMenu" xPosition="after">
          <button mat-menu-item (click)="fgwMst()">FließgewässerMst</button>
          <button mat-menu-item (click)="seeMst()">SeegewässerMst</button>
      <!-- <button mat-menu-item (click)="handleMakrophytenClick()">Taxadaten</button> -->
      <!-- <button mat-menu-item (click)="handleMakrophytenClick()">Taxadaten</button> -->
    </mat-menu>
      
      <button mat-button id="mpButton" [matMenuTriggerFor]="wasserkoerper" >Wasserkörper</button>
      <mat-menu #wasserkoerper="matMenu" xPosition="after">
        <button mat-menu-item (click)="fgwWk()">FließgewässerWK</button>
        <button mat-menu-item (click)="seeWk()">SeegewässerWK</button>
    </mat-menu>
  
  
     
  
      <button mat-button [matMenuTriggerFor]="gewaesser">Gewässer</button>
      <mat-menu #gewaesser="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="Typen">Typen</button>
      <mat-menu #Typen="matMenu" xPosition="after">
        <button mat-menu-item mat-menu-item (click)="wrrlTyp()">WrrlTyp</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="probenehmer">Probenehmer</button>
      <mat-menu #probenehmer="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="taxaliste">Taxaliste</button>
      <mat-menu #taxaliste="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <!-- <button mat-menu-item (click)="handleMZBClick()">Taxadaten</button> -->
      </mat-menu>
      
      <button mat-button [matMenuTriggerFor]="nutzer">Nutzer</button>
      <mat-menu #nutzer="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      </div>
      </span>
      <div class="card" *ngIf="MessstellenAnzeige == true" style="vertical-align: top;"> 
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilterMessstellen($event)" placeholder="" #input>
        </mat-form-field>
      <app-stamm-messstellen [messstellenStam]="messstellenStam1" (sortData1)="sortData($event)" (newData)="handleData($event)" ></app-stamm-messstellen>
    </div>
    <div class="card" *ngIf="WKAnzeige == true" style="vertical-align: top;"> 
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilterWK($event)" placeholder="" #input>
      </mat-form-field>
      <app-stamm-wk [wasserkoerperStam]="wkStam1" [gewaesserart]="gewaesserart" (sortDataWK)="sortDataWk($event)"  (newDataWK)="handleDataWK($event)"></app-stamm-wk>
      
    </div>
      
    <div class="card" *ngIf="TypWrrlAnzeige == true" style="vertical-align: top;">
      <app-editable-table-typwrrl></app-editable-table-typwrrl>
    </div>