<!-- makorphyten-tabelle.component.html -->
<div class="mat-elevation-z8 table">
	<table mat-table [dataSource]="dataSource" matSort class="table sticky-header">
	  <!-- Column Definitions -->
	 
	  <ng-container matColumnDef="mst">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Messstelle</th>
		<td mat-cell *matCellDef="let element" class="spalte-wk">{{element.mst}}</td>
	  </ng-container>
	  <ng-container matColumnDef="gewaessername">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Gewässer</th>
		<td mat-cell *matCellDef="let element" class="spalte-wk">{{element.gewaessername}}</td>
	  </ng-container>
	  <ng-container matColumnDef="jahr">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Jahr</th>
		<td mat-cell *matCellDef="let element" class="spalte-jahr">{{element.jahr}}</td>
	  </ng-container>
	  <ng-container matColumnDef="datum">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Datum</th>
		<td mat-cell *matCellDef="let element" class="spalte-jahr">{{element.datum}}</td>
	  </ng-container>
	  <ng-container matColumnDef="taxon">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-wk">Taxon</th>
		<td mat-cell *matCellDef="let element" class="spalte-wk">{{element.taxon}}</td>
	  </ng-container>
	  <ng-container matColumnDef="wert">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Deckung</th>
		<td mat-cell *matCellDef="let element" class="spalte-jahr">{{element.wert}}</td>
	  </ng-container>
	  <ng-container matColumnDef="einheit">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Einheit</th>
		<td mat-cell *matCellDef="let element" class="spalte-wk">{{element.einheit}}</td>
	  </ng-container>
	  <ng-container matColumnDef="taxonzusatz">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Form</th>
		<td mat-cell *matCellDef="let element" class="spalte-jahr">{{element.taxonzusatz}}</td>
	  </ng-container>
	  <ng-container matColumnDef="RoteListeD">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Rote Liste (D)</th>
		<td mat-cell *matCellDef="let element" [style.background-color]="getColor(element.roteListeD)" class="spalte-rl">{{element.roteListeD}}</td>
	  </ng-container>
	  <ng-container matColumnDef="tiefe_m">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Tiefe (m)</th>
		<td mat-cell *matCellDef="let element" class="spalte-rl">{{element.tiefe_m}}</td>
	  </ng-container>
	  <ng-container matColumnDef="letzteAenderung">
		<th mat-header-cell *matHeaderCellDef mat-sort-header class="header-table-jahr">Letzte Änderung</th>
		<td mat-cell *matCellDef="let element" class="spalte-rl">{{element.letzte_aenderung}}</td>
	  </ng-container>
	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
  </div>
  