<mat-card>
  <span style="font-size:x-large;font-weight:500;" [innerHTML]="wk_name1"></span>
  <div class="form-group" style="width: 80%; margin-left:5%">
    <form [formGroup]="formInstanceWK" style="display: flex; flex-direction: column; gap: 15px;">
      
      <!-- Abschnitt: Name -->
      <h5>Namen</h5>
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%;">
            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>WK-Name</mat-label>
              <input matInput type="text" formControlName="wk_name">
            </mat-form-field>
          </td>
          <td>
            <mat-label>Gewässer</mat-label>
            <ng-multiselect-dropdown 
              [placeholder]="data.wkstam.gewaessername" 
              [settings]="dropdownSettingsGew"
              [data]="dropdownTypGewaesser" 
              (onSelect)="onItemSelectGew($event)">
            </ng-multiselect-dropdown>
          </td>
        </tr>
      </table>

      <mat-divider></mat-divider>

      <!-- Abschnitt: Gewässertypen -->
      <h5>Gewässertypen</h5>
      <table style="width: 100%;">
        <tr>
          <td>
            <mat-label>WRRL-Typ</mat-label>
            <ng-multiselect-dropdown 
              [placeholder]="data.wkstam.wrrl_typ_str" 
              [settings]="dropdownSettingsGew"
              [data]="dropdownTypWRRL" 
              (onSelect)="onItemSelectWrrl($event)">
            </ng-multiselect-dropdown>
          </td>
          <td>
            <mat-label>Diatomeen-Typ</mat-label>
            <ng-multiselect-dropdown 
              [placeholder]="data.wkstam.dia_typ_str" 
              [settings]="dropdownSettingsGew"
              [data]="dropdownTypDia" 
              (onSelect)="onItemSelectDia($event)">
            </ng-multiselect-dropdown>
          </td>
          <td>
            <mat-label>Makrophyten-Typ</mat-label>
            <ng-multiselect-dropdown 
              [placeholder]="data.wkstam.mp_typ_str" 
              [settings]="dropdownSettingsGew"
              [data]="dropdownTypMP" 
              (onSelect)="onItemSelectMP($event)">
            </ng-multiselect-dropdown>
          </td>
          <td>
            <mat-label>Phytoplankton-Typ</mat-label>
            <ng-multiselect-dropdown 
              [placeholder]="data.wkstam.pp_typ_str" 
              [settings]="dropdownSettingsGew"
              [data]="dropdownTypPP" 
              (onSelect)="onItemSelectPP($event)">
            </ng-multiselect-dropdown>
          </td>
          <td>
            <mat-label>MZB-Typ</mat-label>
            <ng-multiselect-dropdown 
              [placeholder]="data.wkstam.mzb_typ_str" 
              [settings]="dropdownSettingsGew"
              [data]="dropdownTypMZB" 
              (onSelect)="onItemSelectMZB($event)">
            </ng-multiselect-dropdown>
          </td>
        </tr>
      </table>

      <mat-divider></mat-divider>

      <!-- Abschnitt: Berichterstattung -->
      <h5>Berichterstattung</h5>
      <table style="width: 100%;">
        <tr>
          <td>
            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Land</mat-label>
              <input matInput type="text" formControlName="land">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>EU-CD-WB</mat-label>
              <input matInput type="text" formControlName="eu_cd_wb">
            </mat-form-field>
          </td>
          <td>
            <mat-label>Bericht-EU</mat-label>
            <mat-checkbox formControlName="bericht_eu"></mat-checkbox>
          </td>
        </tr>
      </table>

      <!-- Abschnitt: Checkboxen -->
      <table style="width: 100%;">
        <tr>
          <td>
            <mat-label>HMWB</mat-label>
            <mat-checkbox formControlName="hmwb"></mat-checkbox>
          </td>
          <td>
            <mat-label>Künstlich</mat-label>
            <mat-checkbox formControlName="kuenstlich"></mat-checkbox>
          </td>
        </tr>
      </table>

      <!-- Buttons -->
      <div mat-dialog-actions style="text-align: right;">
        <button mat-raised-button color="primary" [disabled]="formInstanceWK.dirty && formInstanceWK.errors" (click)="save()"
          cdkFocusInitial>Änderungen speichern</button>
        <button mat-raised-button mat-dialog-close>Abbrechen</button>
      </div>
    </form>
  </div>
</mat-card>
