<form [formGroup]="form"  class="datenexport-form">
    <div class="form-container">
      <div class="form-column">
        <div class="form-field helpable" id ="auswahl-mst-wk">
          <mat-form-field appearance="fill"  class="form-field">
            <mat-label>Messstellen oder Wasserkörper auswählen</mat-label>
            <mat-select formControlName="dropdownSelection" (selectionChange)="onDropdownWkMstChange($event)">
              <mat-option value="messstellen">Messstellen</mat-option>
              <mat-option value="wasserkorper">Wasserkörper</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div *ngIf="form.get('dropdownSelection')?.value === 'messstellen'" class="form-field full-width helpable" id ="auswahl-mst">
          <div class="form-field">
            <mat-radio-group formControlName="messstellenType">
              <mat-radio-button value="fluss">Fließgewässer</mat-radio-button>
              <mat-radio-button value="see">Seen</mat-radio-button>
            </mat-radio-group>
          </div>
  
          <div class="form-field expanded" >
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Messstellen</mat-label>
              <mat-select formControlName="selectedComponents" multiple (openedChange)="onMessstellenOpen()">
                <ng-container *ngIf="isMessstellenOpen">
                  <div class="select-buttons">
                    <mat-checkbox [checked]="allMessstellenSelected" (change)="toggleAllMessstellen($event.checked)">
                      wähle alle angezeigten
                    </mat-checkbox>
                    <mat-checkbox [checked]="repraesentativeSelected" (change)="toggleAllRepraesented($event.checked)">
                      repräsentative Mst
                    </mat-checkbox>
                  </div>
                  <mat-form-field appearance="fill" class="filter-field">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder=" " [formControl]="messstellenFilterControl" />
                  </mat-form-field>
                </ng-container>
                <mat-option *ngFor="let component of filteredMessstellen" [value]="component.id_mst">{{ component.namemst }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div *ngIf="form.get('dropdownSelection')?.value === 'wasserkorper'">
          <div class="form-field">
            <mat-radio-group formControlName="waterBodyType">
              <mat-radio-button value="fluss">Fließgewässer</mat-radio-button>
              <mat-radio-button value="see">Seen</mat-radio-button>
            </mat-radio-group>
          </div>
  
          <div class="form-field expanded">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Wasserkörper</mat-label>
              <mat-select formControlName="selectedWasserkorper" multiple (openedChange)="onWasserkorperOpen()">
                <ng-container *ngIf="isWasserkorperOpen">
                  <div class="select-buttons">
                    <mat-checkbox [checked]="allWasserkorperSelected" (change)="toggleAllWasserkorper($event.checked)">
                      Wähle alle angezeigten
                    </mat-checkbox>
                  </div>
                  <mat-form-field appearance="fill" class="filter-field">
                    <mat-label>Filter</mat-label>
                    <input matInput placeholder=" " [formControl]="wasserkorperFilterControl" />
                  </mat-form-field>
                </ng-container>
                <mat-option *ngFor="let w of filteredWasserkorper" [value]="w.id">{{ w.wk_name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <div class="form-column">
       
        <div class="helpable" id="auswahl-zeit2">
        
        
        
          <mat-slider discrete min="{{minstart}}" max="{{maxstart}}"  style="margin-left:10px" class="custom-slider">
            
            <input formControlName="max" matSliderThumb class="custom-slider">
          </mat-slider>
        
          
        
        </div> 
        
  
          
        
       
        <div class="komponente"  style="margin-top:70px;" class="helpable" id="auswahl-komp">
          <mat-form-field appearance="fill" style="width: 80%;">
            <mat-label>Komponenten für Artabundanzen und Messstellenbewertung</mat-label>
            <mat-select formControlName="selectedItems" single  (selectionChange)="onSelectionChange($event)">
              <!-- <mat-checkbox [checked]="allKomponentenSelected" (change)="toggleAllKomponenten($event.checked)">
                Select All
              </mat-checkbox> -->
             
              <mat-option *ngFor="let item of items" [value]="item.id">{{ item.komponente }} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  
      <div class="form-column">
        <div class="form-field">
          <mat-button-toggle-group formControlName="componentType" multiple>
            
            <mat-button-toggle value="messstellenbewertung" class="helpable" id="auswahl-mst-bew">Messstellenbewertung</mat-button-toggle>
            <mat-button-toggle value="wasserkorperbewertung" class="helpable" id="auswahl-wk-bew">Wasserkörperbewertung</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
  
    
  
        <div class="button-container" style="margin-top:70px;">
          <button mat-raised-button color="primary"  class="helpable" id="btn-daten-abfragen1" (click)="onButtonClick()">Daten Abfragen</button>
         
        </div>
      </div>
    </div>
  </form>
  
  <hr class="custom-divider">
  
  <mat-tab-group class="tab-group-padding">
    <!-- <pre>{{ dbMPUebersichtMst | json }}</pre> Dies zeigt den Inhalt von dbMPUebersichtMst an -->

    <mat-tab label="Messstellenbewertung" *ngIf="BewertungenMstAnzeige == true">
      <div class="card" style="vertical-align: top;">
        <mat-card class="example-card">
          <app-mst-expertenurteil-edit context="context1" [mstMitExpertenurteil]="dbMPUebersichtMst"></app-mst-expertenurteil-edit>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Wasserkörperbewertung" *ngIf="WKUebersichtAnzeigen == true">
      <div class="card" style="vertical-align: top;">
        <mat-card class="example-card">
          <app-mst-expertenurteil-edit context="context2" [mstMitExpertenurteil]="BewertungwkUebersicht" *ngIf="BewertungwkUebersichtleer== true"></app-mst-expertenurteil-edit>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
