.map-container {
  position: relative; /* Wichtig für das absolute Positionieren des Buttons */
  top: 0;
  left: 0;
  width: 100%; /* Sicherstellen, dass die Breite 100% beträgt */
  height: calc(100vh - 60px); /* Höhe anpassen, um Platz für die Margins zu berücksichtigen */
  margin: 20px 0; /* Nur vertikale Margins */
  box-sizing: border-box; /* Padding und Border in der Breite und Höhe berücksichtigen */
}

  .map-label {
    position: absolute;
    top: 60px;
    left: 60px;
    background-color: white; /* Weißer Hintergrund */
    padding: 5px 10px;
    border: 1px solid #ccc; /* Grauer Rand um das Label */
    z-index: 100; /* Sicherstellen, dass es über der Karte liegt */
  }
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
  .popup {
    background-color: ghostwhite;
    font-weight: normal;
   
  }
  .legend {
    font-size: 12px; /* Verkleinerte Schriftgröße für die Legende */
    position: absolute;
    bottom: 100px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
  }
  
  .legend h3 {
    margin-top: 0;
    font-size: 14px; /* Verkleinerte Schriftgröße für die Überschrift */
  }
  
  .legend-key {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-size: 12px; /* Verkleinerte Schriftgröße für die Einträge */
  }
  
  .legend-label {
    display: inline;
  }.example-card {
    max-width: 70%;
    font-size: 12px;
    margin-left: 200px;
    margin-top: 15px;
    background-color: withe;
  }
  .example-form-field {
    width: 400px;
  }


   
   .button.active {
    border-color: rgb(0, 225, 255);
    background-color: 'RGB(240,240,240)';
   }
.button{
   border: 2px solid rgb(128, 126, 126); /* Roter Rahmen */
   margin-left: 2px;}

   .custom-width {
    width: 500px; /* Setzt die Breite des spezifischen mat-form-field */
  }

  button#kartButton.active {
    background-color: rgb(20, 220, 220); /* Hintergrundfarbe für aktiven Zustand */
    /*color: white;  Optional: Textfarbe */
    border: 1px solid rgb(0, 180, 180); /* Optional: Rahmenfarbe */
  }
  
  button#kartButton {
    transition: background-color 0.3s, color 0.3s; /* Weicher Übergang */
  }
  
  button#bwmstButton.active {
    background-color: rgb(20, 220, 220); /* Hintergrundfarbe für aktiven Zustand */
    /*color: white;  Optional: Textfarbe */
    border: 1px solid rgb(0, 180, 180); /* Optional: Rahmenfarbe */
  }
  
  button#bwmstButton {
    transition: background-color 0.3s, color 0.3s; /* Weicher Übergang */
  }
  button#mstButton.active {
    background-color: rgb(20, 220, 220); /* Hintergrundfarbe für aktiven Zustand */
    /*color: white;  Optional: Textfarbe */
    border: 1px solid rgb(0, 180, 180); /* Optional: Rahmenfarbe */
  }
  
  button#mstButton {
    transition: background-color 0.3s, color 0.3s; /* Weicher Übergang */
  }
  button#verbreitung.active {
    background-color: rgb(20, 220, 220); /* Hintergrundfarbe für aktiven Zustand */
    /*color: white;  Optional: Textfarbe */
    border: 1px solid rgb(0, 180, 180); /* Optional: Rahmenfarbe */
  }
  
  button#verbreitung {
    transition: background-color 0.3s, color 0.3s; /* Weicher Übergang */
  }
  app-center-button {
    
    position: fixed;
    top: 112px;
    left: 115px; /* Positioniere den Button in der oberen rechten Ecke */
    z-index: 1000; /* Stellt sicher, dass er über der Karte liegt */
  }
  .custom-checkbox-label {
    display: inline-block;
    width: 500px; /* Passen Sie die Breite nach Bedarf an */
  }
  