<div class="map-container">
  <div id="ol-map" class="map-container" style="margin-top: 5%; margin-bottom: 5%; width: 100%; height: 84%;">
    <div id="popup" class="popup"></div>
    <label id="mapLabel" class="map-label">{{ verbreitung_text }}</label>
  </div>
  <!-- Füge hier den Zentrieren-Button ein -->
  <app-center-button [map]="map"></app-center-button>
 
  <div class="legend">
    <h3>Legende</h3>
    <div *ngFor="let item of legendItems">
      <div class="legend-key" [ngStyle]="{'background-color': item.color}"></div>
      <div class="legend-label">{{ item.label }}</div>
    </div>
    <canvas id="legendCanvas" width="220" height="160"></canvas>
    <span id="status">&nbsp;</span>
  </div>

  
  <div style="margin-left: 200px; display: flex; align-items: center;">
    <button mat-button id="kartButton" [matMenuTriggerFor]="karten" class="helpable button" style="margin-right: 20px;">
      Bericht-EU
    </button>
    <mat-menu #karten="matMenu" xPosition="after" [style.width.px]="600">

      <mat-checkbox [(ngModel)]="isstartbp3Checked" (click)="$event.stopPropagation();startbp3(isstartbp3Checked)" [style.width.%]="100">
        Wasserkörperbewertung 3. Bewirtschaftungsplan
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="isstartbp2Checked" (click)="$event.stopPropagation();startbp2(isstartbp2Checked)" [style.width.%]="100">
        Wasserkörperbewertung 2. Bewirtschaftungsplan
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="isstartbp1Checked" (click)="$event.stopPropagation();startbp1(isstartbp1Checked)" [style.width.%]="100">
        Wasserkörperbewertung 1. Bewirtschaftungsplan
      </mat-checkbox>
      
    
    </mat-menu>
    
    <button mat-button id="bwmstButton" [matMenuTriggerFor]="mstb" class="helpable button" style="margin-right: 20px;">
      Ergebnisse aus dem Monitoring
    </button>
    <mat-menu #mstb="matMenu" xPosition="after" [style.width.px]="900">
      <mat-checkbox [(ngModel)]="isVierterBPChecked"    (click)="$event.stopPropagation();vierterBP(isVierterBPChecked)">
        <span class="custom-checkbox-label">Ökolgoischer Zustand (2021-2026)</span>
 
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="isDritterBPChecked"  class="custom-checkbox wide-label"  (click)="$event.stopPropagation();dritterBP(isDritterBPChecked)">
        <span class="custom-checkbox-label">Ökolgoischer Zustand (2015 - 2020)</span>
        
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="isZweiterBPChecked"  class="custom-checkbox wide-label"  (click)="$event.stopPropagation();zweiterBP(isZweiterBPChecked)">
        <span class="custom-checkbox-label">Ökolgoischer Zustand (2005 - 2014)</span>
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="isErsterBPChecked" class="custom-checkbox wide-label"  (click)="$event.stopPropagation();ersterBP(isErsterBPChecked)">
        <span class="custom-checkbox-label">Ökolgoischer Zustand (vor 2005)</span>
      </mat-checkbox>

    </mat-menu>
    
    <button mat-button id="mstButton" [matMenuTriggerFor]="mst" class="helpable button" style="margin-right: 20px;">
      Messstellen
    </button>
    <mat-menu #mst="matMenu" xPosition="after" [style.width.px]="400">
      
      <mat-checkbox [(ngModel)]="isFliesgewasserChecked" (click)="$event.stopPropagation();startalleFGW(isFliesgewasserChecked)">
        Fließgewässermessstellen
      </mat-checkbox>
      <mat-checkbox  [(ngModel)]="isrepraesentFGWChecked" style="margin-left: 20px;" [disabled]="isRepraesentCheckedFGWdisable" (click)="$event.stopPropagation();toggleLayerfgwmst(isFliesgewasserChecked,isrepraesentFGWChecked)">
        repräsentative Messstellen
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="isSeeChecked" (click)="$event.stopPropagation();startalleSee(isSeeChecked)">
        Seemessstellen
      </mat-checkbox>
      <mat-checkbox  [(ngModel)]="isrepraesentSeeChecked" style="margin-left: 20px;" [disabled]="isRepraesentCheckedSEEdisable" (click)="$event.stopPropagation();toggleLayerseemst(isSeeChecked,isrepraesentSeeChecked)">
        repräsentative Messstellen
      </mat-checkbox>
     <mat-form-field appearance="outline" (click)="$event.stopPropagation()" [style.width.%]="100" >
        <mat-label>Filter nach Name</mat-label>
        <input  [disabled]="isFilterdisable" matInput [(ngModel)]="messstellenFilter" (input)="filterMessstellen(isFliesgewasserChecked,isSeeChecked,isrepraesentFGWChecked,isrepraesentSeeChecked)" placeholder="Messstellenname eingeben" />
      </mat-form-field>
      
    </mat-menu>
    <button id="verbreitung" class="helpable button" mat-button (click)="openDialogVerbreitung()">Verbreitungskarten</button>
  </div>
</div>