<div class="mat-elevation-z8 table">
	<table  cdk-table [dataSource]="wkUebersicht" class="table">

		<ng-container cdkColumnDef="WKname">
		  <th  cdk-header-cell *cdkHeaderCellDef  class="header-table-wk"> Wasserkörper </th>
		  <td  cdk-cell *cdkCellDef="let element" class="spalte-wk"> {{element.WKname}} 
			</td>
			
		</ng-container>
		<ng-container cdkColumnDef="Jahr">
			<th  cdk-header-cell *cdkHeaderCellDef  class="header-table-jahr" > Jahr</th>
			<td  cdk-cell *cdkCellDef="let element"class="spalte-jahr"> {{element.Jahr}} 
			  </td>
			  
		  </ng-container>
		<!-- ['Nr','Messstelle', 'AnzahlTaxa', 'Mst_bekannt', 'Fehler']; -->
		<!-- Weight Column -->
		<ng-container cdkColumnDef="OKZ_TK_MP" >
			<th  cdk-header-cell *cdkHeaderCellDef class="header-table"> Makrophyten </th>
			<td  cdk-cell *cdkCellDef="let element"[style.background-color]="getColor(element.OKZ_TK_MP)"class="Zelle"> {{element.OKZ_TK_MP}} </td>
			
		  </ng-container>
		<ng-container cdkColumnDef="OKZ_TK_Dia">
		  <th  cdk-header-cell *cdkHeaderCellDef   class="header-table"> Diatomeen </th>
		  <td  cdk-cell *cdkCellDef="let element"[style.background-color]="getColor(element.OKZ_TK_Dia)" class="Zelle"> {{element.OKZ_TK_Dia}} </td>
		  
		</ng-container>
		<ng-container cdkColumnDef="OKZ_QK_P">
			<th  cdk-header-cell *cdkHeaderCellDef   class="header-table">Phytoplankton</th>
			<td  cdk-cell *cdkCellDef="let element"[style.background-color]="getColor(element.OKZ_QK_P)" class="Zelle"> {{element.OKZ_QK_P}} </td>
		  </ng-container>
		<ng-container cdkColumnDef="OKZ_QK_MZB">
			<th  cdk-header-cell *cdkHeaderCellDef  class="header-table" >Makrozoobenthos</th>
			<td  cdk-cell *cdkCellDef="let element" [style.background-color]="getColor(element.OKZ_QK_MZB)" class="Zelle"> {{element.OKZ_QK_MZB}} </td>
		  </ng-container>
		<!-- Symbol Column -->
		<ng-container cdkColumnDef="OKZ_QK_F">
		  <th  cdk-header-cell *cdkHeaderCellDef   class="header-table"> Fische </th>
		  <td  cdk-cell *cdkCellDef="let element" [style.background-color]="getColor(element.OKZ_QK_F)" class="Zelle"> {{element.OKZ_QK_F}} </td>
		</ng-container>
	
          <ng-container cdkColumnDef="OKZ">
			<th  cdk-header-cell *cdkHeaderCellDef   class="header-table">ÖKZ</th>
			<td  cdk-cell *cdkCellDef="let element"[style.background-color]="getColor(element.OKZ)" class="Zelle"> {{element.OKZ}} </td>
		  </ng-container>
		  <tr  cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
		  <tr  cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr> 
		  <!-- <tr ng-repeat="a in b" ng-style="{'background-color': (a.OKZ_QK_MZB == '3') ? ($index % 2 === 0 ? 'orange' : 'red') : 'auto'}"></tr> -->
	  </table>
	  
		
	</div>
	