<form [formGroup]="form" (ngSubmit)="onSubmit()" class="datenexport-form">
  <div class="form-container">
    <div class="form-column">
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Dropdown auswählen</mat-label>
          <mat-select formControlName="dropdownSelection">
            <mat-option value="messstellen">Messstellen</mat-option>
            <mat-option value="wasserkorper">Wasserkörper</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="form.get('dropdownSelection')?.value === 'messstellen'" class="form-field">
        <div class="form-field">
          <mat-radio-group formControlName="messstellenType">
            <mat-radio-button value="fluss">Fließgewässer</mat-radio-button>
            <mat-radio-button value="see">Seen</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="form-field expanded">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Messstellen</mat-label>
            <mat-select formControlName="selectedComponents" multiple (openedChange)="onMessstellenOpen()">
              <ng-container *ngIf="isMessstellenOpen">
                <div class="select-buttons">
                  <button mat-button type="button" (click)="selectAllMessstellen()">Select All</button>
                  <button mat-button type="button" (click)="deselectAllMessstellen()">Deselect All</button>
                </div>
                <mat-form-field appearance="fill" class="filter-field">
                  <mat-label>Filter</mat-label>
                  <input matInput placeholder=" " [formControl]="messstellenFilterControl" />
                </mat-form-field>
              </ng-container>
              <mat-option *ngFor="let component of filteredMessstellen" [value]="component.id_mst">{{ component.namemst }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="form.get('dropdownSelection')?.value === 'wasserkorper'" class="form-field">
        <div class="form-field">
          <mat-radio-group formControlName="waterBodyType">
            <mat-radio-button value="fluss">Fließgewässer</mat-radio-button>
            <mat-radio-button value="see">Seen</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="form-field expanded">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Wasserkörper</mat-label>
            <mat-select formControlName="selectedWasserkorper" multiple (openedChange)="onWasserkorperOpen()">
              <ng-container *ngIf="isWasserkorperOpen">
                <div class="select-buttons">
                  <button mat-button type="button" (click)="selectAllWasserkorper()">Select All</button>
                  <button mat-button type="button" (click)="deselectAllWasserkorper()">Deselect All</button>
                </div>
                <mat-form-field appearance="fill" class="filter-field">
                  <mat-label>Filter</mat-label>
                  <input matInput placeholder=" " [formControl]="wasserkorperFilterControl" />
                </mat-form-field>
              </ng-container>
              <mat-option *ngFor="let w of filteredWasserkorper" [value]="w.id">{{ w.wk_name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="form-column">
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Jahr von</mat-label>
          <mat-select formControlName="yearFrom">
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Jahr bis</mat-label>
          <mat-select formControlName="yearTo">
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-column">
      <div class="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Komponenten</mat-label>
          <mat-select formControlName="selectedItems" multiple>
            <mat-option *ngFor="let item of items" [value]="item.id">{{ item.komponente }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </div>
  </div>
</form>
