<h1 mat-dialog-title>Messstelle bearbeiten</h1>

<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Messstellenname *</mat-label>
        <input matInput type="text" 
        name="namemst" formControlName="namemst">
        <mat-error *ngIf="
        formInstance.controls['namemst']?.errors?.['required']">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Ortslage *</mat-label>
        <input matInput type="text" 
        name="ortslage" formControlName="ortslage">
        <mat-error *ngIf="
        formInstance.controls['namemst']?.errors?.['required']">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Hochwert (etrs) *</mat-label>
        <input matInput type="number" name="hw_etrs" formControlName="hw_etrs" />
        <mat-error *ngIf="
        formInstance.controls['hw_etrs']?.errors?.['required']">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Rechtswert (etrs) *</mat-label>
        <input matInput type="number" name="rw_etrs" formControlName="rw_etrs" />
        <mat-error *ngIf="
        formInstance.controls['rw_etrs']?.errors?.['required']">field required</mat-error>
      </mat-form-field>
    </div>
    
    
    
  
    
    <div class="mt-5">

     
        <mat-label>Wasserkörper *</mat-label>
        
        
          <mat-form-field>
             <mat-select  name="wk_name" [value]="wk_name" formControlName="wk_name">
              <mat-option *ngFor="let p of wk" [value]="wk.wk_name">
                {{p.wk_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
     </div>
      

    <!-- <div class="mt-5">

      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Wasserkörper *</mat-label>
        <mat-select name="wk_name" formControlName="wk_name">
          <mat-option value="Software Developer">Software Developer</mat-option>
          <mat-option value="Physician">Physician</mat-option>
          <mat-option value="Dentist">Dentist</mat-option>
          <mat-option value="Nurse">Nurse</mat-option>
        </mat-select>
        <mat-error *ngIf="formInstance.controls['wk_name']?.errors?.['required']">field required
        </mat-error>
      </mat-form-field>

    </div> -->
  </form>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" 
  [disabled]="formInstance.dirty && formInstance.errors" 
    cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>

</div>