<h2>Messstelle bearbeiten</h2>

<div mat-dialog-content>
  <form [formGroup]="formInstance" style="background-color: azure;">
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Messstellenname *</mat-label>
        <input matInput type="text" formControlName="namemst">
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" style="width: 100%;" appearance="outline">
        <mat-label>Ortslage *</mat-label>
        <input matInput type="text" formControlName="ortslage">


      </mat-form-field>
    </div>
    <table>
      <tr>
        <td>
          <div class="mt-5">
            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Hochwert (etrs) *</mat-label>
              <input matInput type="number" formControlName="hw_etrs" />
              <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            </mat-form-field>
          </div>
        </td>
        <td>


          <div class="mt-5">
            <mat-form-field class="fullWidth" appearance="outline">
              <mat-label>Rechtswert (etrs) *</mat-label>
              <input matInput type="number" formControlName="rw_etrs" />
              <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            </mat-form-field>
          </div>
        </td>
      </tr>
    </table>
    <div>

      <mat-label>Repräsentative Messstelle</mat-label>
      <mat-checkbox formControlName="repraesent"></mat-checkbox>



      <mat-button-toggle-group aria-label="Toggle between Left and Right" (change)="onToggleFgwSeeChange($event.value === 'left')">
        <mat-button-toggle value="left" [checked]="seefliess">Seemessstelle</mat-button-toggle>
        <mat-button-toggle value="right" [checked]="!seefliess">Fließgewässermessstelle</mat-button-toggle>
      </mat-button-toggle-group>
    </div>


    <div class="mt-5">


      <!-- <mat-label>Wasserkörper *</mat-label> -->
      <mat-label>zugeordneter Wasserkörper</mat-label>
      <ng-multiselect-dropdown [placeholder]="wk_name1" [settings]="dropdownSettings" [data]="dropdownList"
        (onSelect)="onItemSelect($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="mt-5">
      <mat-label>Gewässer</mat-label>
    <ng-multiselect-dropdown [placeholder]="data.mststam.gewaessername" [settings]="dropdownSettingsGew"
      [data]="dropdownTypGewaesser" (onSelect)="onItemSelectGew($event)">
    </ng-multiselect-dropdown>

    </div>

  </form>
</div>

<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="formInstance.dirty && formInstance.errors" (click)="save()"
    cdkFocusInitial>Änderungen speichern</button>
  <button mat-raised-button mat-dialog-close (click)="cancel()">Abbrechen</button>

</div>