.cdk-overlay-pane {
  position: fixed !important;
  top: 20vh !important; /* Positionierung im oberen Drittel des Bildschirms */
  left: 50% !important;
  transform: translateX(-50%) !important; /* Horizontales Zentrieren */
  margin-top: 0 !important; /* Entfernt das dynamische Margin */
  z-index: 1000; /* Höhere Sichtbarkeit */
}