.panel {
    background: rgba(206, 245, 144, 0.473);
    border-radius: var(--panel-border-width);
    padding: var(--panel-border-width);
  }
  .visitedLinkColor{
    color : rgb(255, 115, 0);  }
    .a:visited {
      color: pink;
      background-color: transparent;
      text-decoration: none;
    }