.panel {
    background: rgba(206, 245, 144, 0.473);
    border-radius: var(--panel-border-width);
    padding: var(--panel-border-width);
  }
  .linkcolor{
    color:rgba(14, 14, 241, 0.986);
}

.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  margin-bottom: 50px;
}