.panel {
    background: rgba(206, 245, 144, 0.473);
    border-radius: var(--panel-border-width);
    padding: var(--panel-border-width);
  }
  .linkcolor{
    color:rgba(14, 14, 241, 0.986);
}
fixed-menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Stellen Sie sicher, dass das Menü über anderen Inhalten liegt */
}