<div class="panel">
  <p>
    <mat-toolbar>
     
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button> 

        <span>  <a href="/datenimport"
        ng-click="visited = true"
        ng-class="{'visitedLinkColor': visited ==true}">
        Datenimport
     </a>
       
        <a href="/monitoring" style="margin-left: 25px;">Monitoringdaten</a></span>
    </mat-toolbar>
  </p>
   

  </div> 


<router-outlet></router-outlet>