<h2>Benutzer bearbeiten</h2>

<form (ngSubmit)="onSubmit()" style="margin-right: 2%;margin-left: 2%;">

  <!-- Container für Vorname und Nachname nebeneinander -->
  <div style="display: flex; gap: 20px;">
    <p style="font-size: 12px; color: gray; margin-bottom: 5px;">
        Vorname
      </p>

      <mat-form-field style="flex: 1;">
        <input matInput placeholder="Vorname" [(ngModel)]="data.user.vornahme" name="vornahme" required (ngModelChange)="onVornameChange($event)" />
      </mat-form-field>
    
    <p style="font-size: 12px; color: gray; margin-bottom: 5px;">
        Nachname
      </p>
    <mat-form-field style="flex: 1;">
      <input matInput placeholder="Nachname" [(ngModel)]="data.user.zunahme" name="zunahme" required />
    </mat-form-field>
  </div>

  <!-- Mailadresse -->
  <p style="font-size: 12px; color: gray; margin-bottom: 5px;">
    Mail
  </p>
  <mat-form-field style="width: 70%;">
    <input matInput placeholder="E-Mail" [(ngModel)]="data.user.mail" name="mail" required />
  </mat-form-field>
  <!-- login -->
  <p style="font-size: 12px; color: gray; margin-bottom: 5px;">
    login-Name
  </p>
  <mat-form-field style="width: 100%;">
    <input matInput placeholder="Login" [(ngModel)]="data.user.login" name="login" readonly />
  </mat-form-field>

  <!-- Checkboxen -->
  <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 20px;">
   
    <mat-checkbox [(ngModel)]="data.user.nutzer1" (ngModelChange)="nutzer1change($event)" name="nutzer1">Gast</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.user.nutzer2" (ngModelChange)="nutzer2change($event)" name="nutzer2">normaler Anwender - Datenexport</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.user.nutzer3" (ngModelChange)="nutzer3change($event)" name="nutzer3">Stammdaten</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.user.administrator" (ngModelChange)="adminchange($event)" name="administrator">Administrator</mat-checkbox>
  </div>

  <!-- Buttons -->
  <div style="margin-top: 20px;">
    <button mat-button [disabled]="isSaveDisabled" type="submit" style="background-color: rgb(233, 229, 229);">Speichern</button>
    <button mat-button type="button" (click)="onCancel()" style="margin-left:2%;background-color:  rgb(233, 229, 229);">Abbrechen</button>
  </div>
  
</form>

  
