


  
<div class="mat-elevation-z8 table">
	<table  cdk-table [dataSource]="messstellenStam" class="table">

		<ng-container cdkColumnDef="id_mst">
		  <th  cdk-header-cell *cdkHeaderCellDef  class="header-table-wk"> Wasserkörper </th>
		  <td  cdk-cell *cdkCellDef="let element" class="spalte-wk"> {{element.id_mst}} 
			</td>
			
		</ng-container>
		<ng-container cdkColumnDef="namemst">
			<th  cdk-header-cell *cdkHeaderCellDef  class="header-table-jahr" > namemst</th>
			<td  cdk-cell *cdkCellDef="let element"class="spalte-jahr"> {{element.namemst}} 
			  </td>
			  
		  </ng-container>
		<!-- ['Nr','Messstelle', 'AnzahlTaxa', 'Mst_bekannt', 'Fehler']; -->
		<!-- Weight Column -->
		<ng-container cdkColumnDef="ortslage" >
			<th  cdk-header-cell *cdkHeaderCellDef class="header-table"> ortslage </th>
			<td  cdk-cell *cdkCellDef="let element" class="Zelle"> {{element.ortslage}} </td>
			
		  </ng-container>
      <ng-container cdkColumnDef="gewaessername" >
        <th  cdk-header-cell *cdkHeaderCellDef class="header-table"> gewaessername </th>
        <td  cdk-cell *cdkCellDef="let element" class="Zelle"> {{element.gewaessername}} </td>
        
        </ng-container>
        	
        <ng-container cdkColumnDef="wk_name" >
          <th  cdk-header-cell *cdkHeaderCellDef class="header-table"> wk_name </th>
          <td  cdk-cell *cdkCellDef="let element" class="Zelle"> {{element.wk_name}} </td>
          
          </ng-container>
          <ng-container [matColumnDef]="'actions'">
            <th mat-header-cell *matHeaderCellDef> actions </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="edit(element)">
                <mat-icon mat-icon-button color='primary'>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(element['id'])">
                <mat-icon mat-icon-button color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
		  <tr  cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
		  <tr  cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr> 
		 
	  </table>
	  
		
	</div>
	
 

