


  
<div class="mat-elevation-z8 table">
	<table  mat-table [dataSource]="messstellenStam" class="table" matSort (matSortChange)="sortData($event)">

		<ng-container matColumnDef="id_mst">
		  <th  mat-header-cell *matHeaderCellDef  mat-sort-header="id_mst" class="header-table-wk"> Mst-ID </th>
		  <td  mat-cell *matCellDef="let element" class="spalte-wk"> {{element.id_mst}} 
			</td>
			
		</ng-container>
		<ng-container matColumnDef="namemst">
			<th  mat-header-cell *matHeaderCellDef  mat-sort-header="namemst" class="header-table-jahr" > Messstelle</th>
			<td  mat-cell *matCellDef="let element"class="spalte-jahr"> {{element.namemst}} 
			  </td>
			  
		  </ng-container>
		<!-- ['Nr','Messstelle', 'AnzahlTaxa', 'Mst_bekannt', 'Fehler']; -->
		<!-- Weight Column -->
		<ng-container matColumnDef="ortslage" >
			<th  mat-header-cell *matHeaderCellDef  mat-sort-header="ortslage" class="header-table"> Ortslage </th>
			<td  mat-cell *matCellDef="let element" class="Zelle"> {{element.ortslage}} </td>
			
		  </ng-container>
      <ng-container matColumnDef="gewaessername" >
        <th  mat-header-cell *matHeaderCellDef  mat-sort-header="gewaessername" class="header-table"> {{gewaesser}}</th>
        <td  mat-cell *matCellDef="let element" class="Zelle"> {{element.gewaessername}} </td>
        
        </ng-container>
        	
        <ng-container matColumnDef="wk_name" >
          <th  mat-header-cell *matHeaderCellDef   mat-sort-header="wk_name" class="header-table"> Wasserkörper </th>
          <td  mat-cell *matCellDef="let element" class="Zelle"> {{element.wk_name}} </td>
          
          </ng-container>

          
  <!-- Checkbox Column -->
  <ng-container matColumnDef="repraesent">
    <th  mat-header-cell *matHeaderCellDef   mat-sort-header="repraesent" class="header-table"> repräsentative Mst </th>
    <td mat-cell *matCellDef="let element" class="Zelle">
      <mat-checkbox [(ngModel)]="element.repraesent" disabled></mat-checkbox>
      
    </td>
    <ng-container matColumnDef="melde_mst_str" >
      <th  mat-header-cell *matHeaderCellDef   mat-sort-header="melde_mst_str" class="header-table"> MeldeMst </th>
      <td  mat-cell *matCellDef="let element" class="Zelle"> {{element.melde_mst_str}} </td>
      
      </ng-container>
  </ng-container>
          <ng-container [matColumnDef]="'actions'">
            <th mat-header-cell *matHeaderCellDef> bearbeiten </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="edit(element)">
                <mat-icon mat-icon-button color='primary'>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(element['id'])">
                <mat-icon mat-icon-button color="warn">delete</mat-icon>
              </button>
            </td>
          </ng-container>
		  <tr  mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		  <tr  mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
		 
	  </table>
	  
		
	</div>
	
 

