table {
  width: 100%;
}
.header-table-wk{

  border-style: solid;
  width: 15%;
}
.cell-table-wk{
  text-align: center;
  width: 150px;
  border-color: grey;
  border-width: 1px;
  font-size: large;}
  
