<div class="example-listbox-container">
  <mat-card>
 
    
    <!-- <cdk-virtual-scroll-viewport itemSize="550" class="example-viewport"> -->
      <!-- <div *cdkVirtualFor="let item of uebersicht" class="example-item">{{item.dateiname}}{{item.firma}}</div> -->
      <table  cdk-table [dataSource]="uebersicht" style="width: 80%;" >

        <ng-container cdkColumnDef="probenehmer">
          <th  cdk-header-cell *cdkHeaderCellDef  class="header3"> Probenehmer </th>
          <td  cdk-cell *cdkCellDef="let element" class="spalte1"> {{element.probenehmer}} </td>
          
          </ng-container>
        <ng-container cdkColumnDef="jahr">
          <th  cdk-header-cell *cdkHeaderCellDef  class="header2"> Untersuchungsjahr </th>
          <td  cdk-cell *cdkCellDef="let element"  class="spalte1"> {{element.jahr}} </td>
          
        </ng-container>
        <ng-container cdkColumnDef="dateiname">
          <th  cdk-header-cell *cdkHeaderCellDef  class="header3">Dateiname</th>
          <td  cdk-cell *cdkCellDef="let element"  class="spalte1"> {{element.dateiname}} </td>
          </ng-container>
        <!-- Symbol Column -->
        <ng-container cdkColumnDef="verfahren">
          <th  cdk-header-cell *cdkHeaderCellDef  class="header3"> Verfahren </th>
          <td  cdk-cell *cdkCellDef="let element" class="spalte1"> {{element.verfahren}} </td>
        </ng-container>
        <ng-container cdkColumnDef="komponente">
          <th  cdk-header-cell *cdkHeaderCellDef  class="header3">Komponente</th>
          <td  cdk-cell *cdkCellDef="let element" class="spalte1"> {{element.komponente}} </td>
          </ng-container>
          <ng-container cdkColumnDef="importiert">
          <th  cdk-header-cell *cdkHeaderCellDef  class="header2">importiert</th>
          <td  cdk-cell *cdkCellDef="let element" class="spalte1"> {{element.importiert}} </td>
          </ng-container>
          <ng-container cdkColumnDef="anzahlmst">
            <th  cdk-header-cell *cdkHeaderCellDef  class="header2">importierte Messstellen</th>
            <td  cdk-cell *cdkCellDef="let element" class="spalte1"> {{element.anzahlmst}} </td>
            </ng-container>
            <ng-container cdkColumnDef="anzahlwerte">
              <th  cdk-header-cell *cdkHeaderCellDef  class="header2">importierte Messwerte</th>
              <td  cdk-cell *cdkCellDef="let element" class="spalte1"> {{element.anzahlwerte}} </td>
              </ng-container>
              <ng-container cdkColumnDef="bemerkung">
                <th  cdk-header-cell *cdkHeaderCellDef  class="header2">Bemerkung</th>
                <td  cdk-cell *cdkCellDef="let element" class="spalte1"> {{element.bemerkung}} </td>
                </ng-container>
              <ng-container matColumnDef="Bearbeiten">
                <mat-header-cell *matHeaderCellDef class="header-table-rl">Aktionen</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button color="delete"  class="iconbutton" (click)="onDeleteClick(row)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" class="iconbutton"
                    color="warn" (click)="handleRowClick(row)">
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                  <section class="example-section">
              
              
                  </section>
                </mat-cell>
              </ng-container>
    
              <tr  cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr  cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr> 
        </table>
    <!-- </cdk-virtual-scroll-viewport> -->
    
  </mat-card>  
 
  </div>

