/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  /* //Für Firefox alternativ transform nutzen: */
  transform: scale(1);
  transform-origin: 0 0;
  zoom: 0.80; /* Setzt den Zoom auf 90 % */}
    
    input[type="checkbox"]:disabled {
  opacity: 1 !important;  /* Entfernt das ausgegraute Aussehen */
  pointer-events: none !important; /* Verhindert Interaktion */
}
/* styles.css */
.notranslate {
  translate: no; /* Dieses CSS sagt Browsern, dass die Inhalte nicht übersetzt werden sollen */
}
/* Header-ZEILE einfärben */
tr.cdk-header-row {
  background-color: rgb(238, 237, 236);
}

/* Header-ZELLEN normalisieren */
th.cdk-header-cell {
  font-weight: normal;   /* Browser-default überschreiben */
  background-color: transparent;
}



.mat-menu-item {
  white-space: nowrap; /* Kein Zeilenumbruch */
}

.dialog-centered {
  position: fixed;
  top: 20px; /* Offset oben, optional */
  left: 50%;
  transform: translateX(-50%);
}
/* Verhindern Sie das Überlaufen und setzen Sie die Höhe des Dialogs */
.mat-dialog-container {
  overflow: hidden;
  height: auto;
}

mat-dialog-content {
  overflow: hidden;
  height: auto;
}

/* templateUrl: './eineldatenimp.component.html', */
th.mat-header-cell {
  font-weight: normal;
  background-color: rgb(238, 237, 236);
}


