<h2>Benutzerverwaltung</h2>
<div style="margin-bottom: 20px;">
  <button mat-button color="primary" (click)="addNewUser()">Neuen Benutzer hinzufügen</button>
</div>
<!-- Tabelle zur Anzeige der Benutzer -->
<table mat-table [dataSource]="users" class="mat-elevation-z8">
  <!-- ID-Nutzer Spalte -->
  <ng-container matColumnDef="id_nu">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let user"> {{ user.id_nu }} </td>
  </ng-container>

  <!-- Vorname Spalte -->
  <ng-container matColumnDef="vornahme">
    <th mat-header-cell *matHeaderCellDef> Vorname </th>
    <td mat-cell *matCellDef="let user"> {{ user.vornahme }} </td>
  </ng-container>

  <!-- Nachname Spalte -->
  <ng-container matColumnDef="zunahme">
    <th mat-header-cell *matHeaderCellDef> Nachname </th>
    <td mat-cell *matCellDef="let user"> {{ user.zunahme }} </td>
  </ng-container>

  <!-- E-Mail Spalte -->
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> E-Mail </th>
    <td mat-cell *matCellDef="let user"> {{ user.mail }} </td>
  </ng-container>
  <!-- login -->
  <ng-container matColumnDef="login">
    <th mat-header-cell *matHeaderCellDef> login </th>
    <td mat-cell *matCellDef="let user"> {{ user.login }} </td>
  </ng-container>
  <!-- Aktionen Spalte -->

 <!-- Administrator Checkbox -->
 <ng-container matColumnDef="administrator">
  <th mat-header-cell *matHeaderCellDef> Administrator </th>
  <td mat-cell *matCellDef="let user">
    <mat-checkbox [checked]="user.administrator" disabled></mat-checkbox>
  </td>
</ng-container>

<!-- Nutzer1 Checkbox -->
<ng-container matColumnDef="nutzer1">
  <th mat-header-cell *matHeaderCellDef> Nutzer1 </th>
  <td mat-cell *matCellDef="let user">
    <mat-checkbox [checked]="user.nutzer1" disabled></mat-checkbox>
  </td>
</ng-container>

<!-- Nutzer2 Checkbox -->
<ng-container matColumnDef="nutzer2">
  <th mat-header-cell *matHeaderCellDef> Nutzer2 </th>
  <td mat-cell *matCellDef="let user">
    <mat-checkbox [checked]="user.nutzer2" disabled></mat-checkbox>
  </td>
</ng-container>

<!-- Nutzer3 Checkbox -->
<ng-container matColumnDef="nutzer3">
  <th mat-header-cell *matHeaderCellDef> Nutzer3 </th>
  <td mat-cell *matCellDef="let user">
    <mat-checkbox [checked]="user.nutzer3" disabled></mat-checkbox>
  </td>

  
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Aktionen </th>
    <td mat-cell *matCellDef="let user">
      <button mat-button (click)="editUser(user)">Nutzer bearbeiten</button>
      <!-- <button mat-button (click)="deleteUser(user.id_nu)">Nutzer löschen</button> -->
      <button mat-button color="warn" (click)="confirmDelete(user)">Nutzer Löschen</button>
      <button mat-button (click)="addpasswort()">Passwort vergeben</button>
    </td>
  </ng-container>
</ng-container>
  <!-- Header- und Zellen-Deklaration für die Tabelle -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
